
footer {
    background-color: #323232;
}


.footer-contact {
    margin-top: 60px;
    color: rgb(5, 175, 235);
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.footer-follow {
    margin-top: 50px;
    color: rgb(5, 175, 235);
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.footer-img {
    margin-top: 40px;
    width: 150px;
    height: 100px;
}

.footer-left-first-info,
.footer-left-second-info {
    color: white;
    font-size: 18px;
    letter-spacing: 0.3vh;
}

.footer-left-first-info p,
.footer-left-second-info p {
    padding: 0;
    margin: 0;
}

.footer-local {
    color: white;
    letter-spacing: 0.3vh;
    padding: 2px;
}

#footer-txt-right,
#footer-txt-left {
    margin-top: 40px;
    color: white;
    text-align: left;
    padding: 2px;
    letter-spacing: 0.3vh;
}

#footer-txt-right ul {
    padding: 10px;
    width: 100px;
}

#footer-txt-left ul {
    padding: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#footer-txt-left ul .nav-link:hover,
#footer-txt-right ul .nav-link:hover {
    color: #00B0FF;
}

.footer-col {
    float: left;
    width: 25%;
    padding: 10px;
}

.footer-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 940px) {
    .footer-col {
        width: 100%;
    }
    footer * {
        border-radius: 5% 5% 0 0 / 1em;
    }

    #footer-txt-left {
        position: relative;
        left: -150px;
    }

}

#footer-links a {
    margin-top: 0;
    font-size: 20px;
    padding-right: 20px;
}