.front-pic {
    width: 100%;
    z-index: 0;
    filter: brightness(50%);
    height: 120%; 
    object-fit: cover;
}

.front {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 700px;
}

#whoweare-body {
    margin: auto;
    padding-top: 80px;
}

#whoweare-body h1 {
    color: rgb(5, 175, 235);
    text-transform: uppercase;
    text-align: center;
}

#whoweare-body p {
    font-size: 25px;
}

#whoweare-txt {
    padding-right: 60px;
    position: absolute;
    width: 40%;
    text-align: left;
    background-color: white;
    z-index: 2;
    font-family: "Georgia", serif;
}

.whoweare-pic {
    position: relative;
    left: -40px;
    width: 100%;
    z-index: 0;
    height: 90%; 
    padding-top: 50px;
}

#home-text {
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

#home-txt-mucc span {
    color:rgb(5, 175, 235);
}

#home-text h1 {
    font-weight: bold;
    font-size: 100px;
    animation: 0.5s ease-out 0s 1 slideRight;
}

#home-txt-bio {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    animation: 0.5s ease-out 0s 1 slideRight;

}

#home-txt-bio h3 {
    font-size: 35px;
}

#get-involved span {
    color: rgb(5, 175, 235);
}

#mucc-logo {
    width: 120px;
    height: 80px;
    position: relative;
    left: 90px;
}

#donate-nav {
    color: rgb(5, 175, 235);
    font-size: 20px;
    text-decoration: none;
}

#dashboard-nav {
    position: relative;
    left: 60px;
}
.home-btn-body {
    width: 150px;
}

.home-btn {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    padding: 15px;
    transition: 0.7s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    font-weight: bold;
    color: rgb(5, 175, 235);
    box-shadow: rgb(5, 175, 235) 0 0 0 4px inset;
    background-color: white;
}

.home-btn-body a {
    text-decoration: none;
}

.home-btn:hover {
    color: #fff;
    box-shadow: rgb(5, 175, 235) 0 0 0 40px inset;
    background-color: white;
}

#blue-line {
    border-bottom: 3px solid rgb(5, 175, 235);
    width: 20%;
}

#our-story-blue-line {
    border-bottom: 3px solid rgb(5, 175, 235);
    width: 10%;
}

#whatwedo-body h1 {
    color: rgb(5, 175, 235);
    text-transform: uppercase;
    text-align: center;
}
.whatwedo-pic {
    width: 100%;
    height: 100%;
}

#whatwedo-pic-body {
    position: relative;
}

/* #whatwedo-pic-body:before,
#whatwedo-pic-body:after {
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
}
#whatwedo-pic-body:before {
  top: -10px;
  right: 5px;
  border-top: 10px solid rgb(5, 175, 235);
  border-right: 10px solid rgb(5, 175, 235);
}
#whatwedo-pic-body:after {
  bottom: -5px;
  left: 5px;
  border-bottom: 10px solid rgb(5, 175, 235);
  border-left: 10px solid rgb(5, 175, 235);
} */


#whatwedo-txt {
    text-align: left;
    background-color: white;
    font-size: 25px;
    padding-right: 30px;
    padding-left: 20px;
    font-family: "Georgia", serif;
}

.whatwedo-btn-body {
    margin-left: 300px;
}

.whatwedo-btn {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    padding: 15px;
    transition: 0.7s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    font-weight: bold;
    color: rgb(5, 175, 235);
    box-shadow: rgb(5, 175, 235) 0 0 0 4px inset;
    background-color: white;
    margin-left: auto;
}

.whatwedo-btn-body a {
    text-decoration: none;
}

.whatwedo-btn:hover {
    color: #fff;
    box-shadow: rgb(5, 175, 235) 0 0 0 40px inset;
    background-color: white;
}

#testimonal-card {
    border: none;
    background-color: white;
}

#testimonal-card img {
    width:  300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
}

#testimonal-card .card-body {
    margin-left: 20px;
}

blockquote {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: -5px;
    font-family: "Georgia", serif;
    font-size: 20px;
    font-weight: 500;
    color:#333;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before,
blockquote::after {
    color: rgb(5, 175, 235);
    font-size: 3.0em;
    font-weight: 400;
    line-height: 0.1em;
}

blockquote::before {
    position: absolute;
    left:0;
    content: open-quote;
    margin-right: 0.15em;
    vertical-align: -0.15em;
}

blockquote::after {
    content: close-quote;
    vertical-align: -0.7em;
}

#testimonal-card p {
    position: relative;
    right: 20px;
    font-family: "Georgia", serif;
    font-size: 25px;
    font-weight: 500;
    color:#333;
    text-align: right;
}

#get-involved {
    background-color: #E0E0E0;
}
#get-involved h1 {
    color: rgb(5, 175, 235);
    text-transform: uppercase;
    text-align: center;
}

#get-involved-txt p {
    text-align: center;
    font-size: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Georgia", serif;
    transition: transform 0.5s, opacity 0.5s;
}

#get-involved-txt span a {
    text-decoration: none;
    color: rgb(5, 175, 235);
}

.support-pic {
    width: 100%;
    z-index: 0;
    filter: brightness(70%);
    background-attachment:fixed;
    background-repeat: no-repeat;
    height: 100%; 
    object-fit: cover;
}

.support {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 400px;
}

#support-text {
    position: absolute;
    top: 20%;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

#support-us h1 {
    color: rgb(5, 175, 235);
    text-transform: uppercase;
    text-align: center;
}

#support-btns {
    margin: auto;
    width: 400px;
}
#donate-btn,
#volunteer-btn {
    margin: auto;
}

.support-btn {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    padding: 15px;
    transition: 0.7s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    font-weight: bold;
    color: white;
    box-shadow: white 0 0 0 0px inset;
    background-color: rgb(5, 175, 235);
    width: 150px;
    margin: auto;
}

.support-btn-body a {
    text-decoration: none;
}

.support-btn:hover {
    color: rgb(5, 175, 235);
    box-shadow: white 0 0 0 40px inset;
    background-color: white;
}

@media screen and (max-width:1000px) {
    #home-text h1 {
        font-weight: bold;
        font-size: 60px;
    }

    .whoweare-pic {
        position: relative;
        width: 100%;
        z-index: 2;
        height: 100%; 
        padding-top: 500px;
        left: 10px;
    }

    #whoweare-txt {
        padding-right: 0px;
        position: absolute;
        width: 90%;
        text-align: left;
        background-color: white;
        z-index: 2;
        font-family: "Georgia", serif;
    }

    .whatwedo-pic {
        width: 100%;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 2;
        height: 100%; 
        padding-top: -100px;
        padding-bottom: 50px;
        left: 10px;
    }
    
    #whatwedo-pic-body {
        position: relative;
    }
    
    /* #whatwedo-pic-body:before,
    #whatwedo-pic-body:after {
      position: absolute;
      content: "";
      width: 120px;
      height: 120px;
    }
    #whatwedo-pic-body:before {
      top: -10px;
      right: 5px;
      border-top: 0;
      border-right: 0;
      display: none;
    }

    #whatwedo-pic-body:after {
      bottom: -10px;
      left: 5px;
      border-bottom: 0;
      border-left: 0;
      display: none;
    } */

    .whatwedo-btn-body {
        margin-left: 200px;
    }

    #donate-btn {
        padding-bottom: 20px;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.box {
    width: 100%;
    text-align: left;
    background-color: transparent;
    transition: transform 0.5s, opacity 0.5s;
    font-family: "Georgia", serif;
}

.box.left{
    transform: translateX(-200px);
    opacity: 0;
}

.box.right{
    transform: translateX(100px);
    opacity: 0;
}
.box.top{
    transform: translateY(-200px) rotate(360deg);
    opacity: 0;
}
.box.bottom{
    transform: translateY(200px) scaleX(2);
    opacity: 0;
}

.box.active{
    transform: translateX(0);
    opacity: 1;
}