#educational-blue-line {
    border-bottom: 3px solid rgb(5, 175, 235);
    width: 20%;
}

#educational-body {
    margin-bottom: 200px;
}

.educational-links li,
.support-links li {
    padding: 10px;
}

.support-links p {
    font-style: italic;
}

#community-txt {
    font-size: 18px;
}