#galleryEmbedWrapper {
  width: 80%;
  height: 700px;
  margin-left: 10%;
  position: relative;
}

#galleryEmbed {
  width: 100%;
  height: 100%;
  position: absolute;
}

#gallery-body {
  margin-bottom: 20px;
}